<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Ger's Garage</title>

<link rel="stylesheet" 
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
	crossorigin="anonymous">
	
<link th:href = "@{/img}">
	
</head>
<body>

<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Ger's Garage</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/index}">Home</a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/about}">About us</a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/services}">Services</a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/booking}">Booking</a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>
	
	<div class="container">
		<h1>Ger's Garage Home Page</h1>
		Welcome <span sec:authentication="principal.username"> User</span>
	</div>
	
	<!----------------------HOME ------------------------->

  <div class="container">
    <div class="row">
      <div class="summary col-sm-6">
       <p>RELIABLE REPAIR OF YOUR CAR</p></br>
       <p>DURING THE DAY WITH A GUARANTEE</p>

      </div>
      
      <div class="col-sm-6">
        <img class="profilepic" src="img/g13.jpg">
      </div>
    </div>
  </div>
  
   <!----------------------ABOUT ------------------------->

  <!-- ARVAL BRAZIL-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1>ABOUT</h1>
      </div>
    </div>
 

  <div class="container">
    <div class="row">
      <div class="summary col-sm-6">
        <h2>At Ger's we consider ourselves
           a part of the big automobile community. 
           We service all makes and models and take pride in every repair.</h2> </br>
           <h3>When it comes to repairing or doing checkups on your car’s, 
             all our team combined has almost a century of practical experience. 
             We aim to make our service as reasonably priced as possible. 
             That’s why we cut on all unessential business expenses.</h3> </br>
             <h2>WHY CHOOSE US</h2></br>
             <ul>
               <li>FREE Loaner Cars</li>
               <li>Collision repair;</li>
               <li>Vehicle diagnostics;</li>
               <li>Tire installation;</li>
               <li>Brake repair.</li>
             </ul>
      </div>
      
      <div class="col-sm-6">
        <img class="profilepic" src="img/about.jpg">
      </div>
    </div>
   
    </div>
  </div>

	

</body>
<!-- Adapted from https://github.com/RameshMF/registration-login-spring-boot-security-thymeleaf-hibernate -->
</html>